/*.footer{
  background: #466368;
  background: -webkit-linear-gradient(white, grey);
  background:    -moz-linear-gradient(white, grey);
  background:         linear-gradient(white, grey);
height: 120px;
	max-height: 120px;
position: fixed;
	bottom: 0;
	width: 100%;


}


html,body{ 
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	
}
*/
html {
    position: relative;
    min-height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
	

}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
	font-family: 'Open Sans Condensed', sans-serif;
    padding: 25px;
	line-height: 1.5;
	color: #333;
}

footer {
 background: -webkit-linear-gradient(white, grey);
  background:    -moz-linear-gradient(white, grey);
  background:         linear-gradient(white, grey);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}


h1.name-title{
	font-family: 'Raleway', sans-serif;
	
	
}

.name-title{
	padding-top: 10%;
	font-size: 45px;
}

h3.name-title{
	font-family: 'Raleway', sans-serif;
}

h2.name-title{
	font-family: 'Raleway', sans-serif;
}


.navbar{
	z-index: 10;

}

.navbar-brand{
	font-size: 1em;
	font-family: 'Playfair Display', serif;
}

.nav-item{
    text-align: right;
}


.nav-link{
	font-size: 1.5em;
}



.navbar-toggler-icon{
	color: grey;
}


.section{
	text-align: center; 
	margin-bottom: 30px; 
	font-size: 1.5rem;
}

.section-b{
	margin-top: 40px;
}

.section-c{
	margin-top: 40px;
}

hr{
	margin-top: 0.5px;
  	border: none;
  	height: 2px;
	width: 100px;
  	background-color: gray;
	text-align: center;
}

.hr2{
	margin-top: 0.5px;
  	border: none;
  	height: 2px;
	width: inherit;
  	background-color: gray;
	text-align: center;
}


.jumbotron-fluid {
	background-color: white;
	margin-top: -10%;
	margin-bottom: -10%;
	
}

 
path{
	fill:none;
	stroke:#000000;
	stroke-width:5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

.stroke-u{
	stroke-dasharray: 645;
	stroke-dashoffset: 645;
	animation: write 1.5s linear forwards;
	
}

.stroke-j{
	stroke-dasharray: 750;
	stroke-dashoffset: 750;
	animation: write 1.5s linear forwards;
	animation-delay: 1.5s;
}

.stroke-s{
	stroke-dasharray: 1530;
	stroke-dashoffset: 1530;
	animation: write 1s linear forwards;
	animation-delay: 3s;
}

.stroke-y{
	stroke-dasharray: 650;
	stroke-dashoffset: 650;
	animation: write 1s linear forwards;
	animation-delay: 4s;
}

.stroke-d{
	stroke-dasharray: 530;
	stroke-dashoffset: 530;
	animation: write 1.5s linear forwards;
	animation-delay: 5s;
}

.stroke-a{
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: write 1s linear forwards;
	animation-delay: 6.5s;
}

.stroke-end{
	stroke-dasharray: 80;
	stroke-dashoffset: 80;
	animation: write 0.2s linear forwards;
	animation-delay: 7.5s;
}

.dot-1{
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	animation: write 0.2s linear forwards;
	animation-delay: 7.7s;
}

.dot-2{
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	animation: write 0.4s linear forwards;
	animation-delay: 7.9s;
}

.dot-3{
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	animation: write 0.5s linear forwards;
	animation-delay: 8.3s;
}
	
@keyframes write {
    to {
        stroke-dashoffset: 0;
    }
}

	

.gallery img:hover {
	transform: scale(1.02);
	transition: all ease-in 0.2s;

}

	
.messenger{
	background-color: #5A3233;
}

.bg1{
	background-color: #5A3233
}


.img-fluid{
	float: left;
	margin-right:15px;
	
}

@media only screen and (max-width: 768px){
    .img-fluid{ border-top:white solid 2.5px; border-bottom:white solid 2.5px; margin-bottom: 15px}
}

.media{
	padding-top: 5px;
}


.nav-link img:hover {
    opacity: 0.5;
	text-decoration: none;
}

.navbar-brand img{
	margin-left: 20%;
}

.nav-item:hover{
	color: pink;
}

.error{
	height: 120px;
	margin-bottom: 10px;
}

p{
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	
}

.pdf{
	padding-top: 10px;
	overflow: auto;
}

iframe{
	margin-top: 10px;
	
}
