html {
    position: relative;
    min-height: 100%;
-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


	

}


body {
    margin: 0 0 100px;
    padding: 25px;
-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


	
}


footer {
 background: -webkit-linear-gradient(white, grey);
 background:    -moz-linear-gradient(white, grey);
 background:         linear-gradient(white, gray);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}


h1.name-title{
	font-family: 'Raleway', sans-serif;
	
	
}

.name-title{
	padding-top: 10%;
	font-size: 45px;
}

h3.name-title{
	font-family: 'Raleway', sans-serif;
}

h2.name-title{
	font-family: 'Raleway', sans-serif;
}


.navbar{
	z-index: 10;

}

.navbar-brand{
	font-size: 1em;
	font-family: 'Playfair Display', serif;
}

.nav-item{
    text-align: right;
}


.nav-link{
	font-size: 1.5em;
}



.navbar-toggler-icon{
	color: grey;
}


.section{
	text-align: center; 
	margin-bottom: 30px; 
	font-size: 1.5rem;
}

.section-b{
	margin-top: 40px;
}

.section-c{
	margin-top: 40px;
}

hr{
	margin-top: 0.5px;
  	border: none;
  	height: 2px;
	width: 100px;
  	background-color: gray;
	text-align: center;
}

.hr2{
	margin-top: 0.5px;
  	border: none;
  	height: 2px;
	width: inherit;
  	background-color: gray;
	text-align: center;
}


.jumbotron-fluid {
	background-color: white;
	margin-top: -10%;
	margin-bottom: -10%;
	
}

 
path{
	fill:none;
	stroke:#000000;
	stroke-width:5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

.stroke-u{
	stroke-dasharray: 645;
	stroke-dashoffset: 645;
	animation: write 1.5s linear forwards;

	
}


.stroke-j{
	stroke-dasharray: 750;
	stroke-dashoffset: 750;
	animation: write 1.5s linear forwards;
	animation-delay: 1.5s;
}

.stroke-s{
	stroke-dasharray: 1530;
	stroke-dashoffset: 1530;
	animation: write 1s linear forwards;
	animation-delay: 3s;
}

.stroke-y{
	stroke-dasharray: 650;
	stroke-dashoffset: 650;
	animation: write 1s linear forwards;
	animation-delay: 4s;
}

.stroke-d{
	stroke-dasharray: 530;
	stroke-dashoffset: 530;
	animation: write 1.5s linear forwards;
	animation-delay: 5s;
}

.stroke-a{
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: write 1s linear forwards;
	animation-delay: 6.5s;
}

.stroke-end{
	stroke-dasharray: 80;
	stroke-dashoffset: 80;
	animation: write 0.2s linear forwards;
	animation-delay: 7.5s;
}

.dot-1{
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	animation: write 0.2s linear forwards;
	animation-delay: 7.7s;
}

.dot-2{
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	animation: write 0.4s linear forwards;
	animation-delay: 7.9s;
}

.dot-3{
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	animation: write 0.5s linear forwards;
	animation-delay: 8.3s;
}
	
@keyframes write {
    to {
        stroke-dashoffset: 0;
    }
}

	

.gallery img:hover {
	transform: scale(1.02);
	transition: all ease-in 0.2s;

}

	
.messenger{
	background-color: #5A3233;
}

.bg1{
	background-color: #5A3233
}


.img-fluid{
	float: left;
	margin-right:15px;
	
}

@media only screen and (max-width: 768px){
    .img-fluid{ border-top:white solid 2.5px; border-bottom:white solid 2.5px; margin-bottom: 15px}
}

.media{
	padding-top: 5px;
}


.nav-link img:hover {
    opacity: 0.5;
	text-decoration: none;
}

.navbar-brand img{
	margin-left: 20%;
}

.nav-item:hover{
	color: pink;
}



p{
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	padding-top: 20px;
	
}

.pdf{
	padding-top: 10px;
	overflow: auto;
}

iframe{
	margin-top: 10px;
	
}

span{
font-size: 3em;
	font-family: 'Open Sans Condensed', sans-serif;


}

span:last-child {
  color: black;
  background-color: white;

  animation-delay: 0s;
  position: relative;
}
span:last-child:after {
  content: "UNDER\00a0RECONSTRUCTION";
  position: absolute;
  left: 2px;
  top: 2px;
  clip: rect(0, 900px, 0, 0);
  background-color: white;
  color: black;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 0s;
}
span:last-child:before {
  content: "UNDER\00a0RECONSTRUCTION";
  position: absolute;
  left: -2px;
  top: -2px;
  clip: rect(0, 900px, 0, 0);
  background-color: white;
  color: black;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 0s;

}

@keyframes fadeWhite {
  100% {
    color: black;
  }
}
@keyframes glitch {
  0% {
    clip: rect(91px, 9999px, 32px, 0);
  }
  5% {
    clip: rect(60px, 9999px, 48px, 0);
  }
  10% {
    clip: rect(91px, 9999px, 42px, 0);
  }
  15% {
    clip: rect(29px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(39px, 9999px, 19px, 0);
  }
  25% {
    clip: rect(80px, 9999px, 80px, 0);
  }
  30% {
    clip: rect(44px, 9999px, 81px, 0);
  }
  35% {
    clip: rect(52px, 9999px, 22px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 52px, 0);
  }
  45% {
    clip: rect(30px, 9999px, 54px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 84px, 0);
  }
  55% {
    clip: rect(53px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(25px, 9999px, 75px, 0);
  }
  65% {
    clip: rect(51px, 9999px, 61px, 0);
  }
  70% {
    clip: rect(33px, 9999px, 4px, 0);
  }
  75% {
    clip: rect(48px, 9999px, 22px, 0);
  }
  80% {
    clip: rect(68px, 9999px, 28px, 0);
  }
  85% {
    clip: rect(18px, 9999px, 8px, 0);
  }
  90% {
    clip: rect(24px, 9999px, 40px, 0);
  }
  95% {
    clip: rect(57px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 78px, 0);
  }
}

